<h1>The State of School Sanitation in Nepal</h1>
<h4><i>The neglected development link</i></h4>
<h2>District-Wise(Girl) Students' Access to Sanitation in Community Schools</h2>

<form action="">
	<p>
		<%= select_tag "district", options_from_collection_for_select(DistrictGirlSanitationCommunitySchool.all.map, :districts, :districts) %>
	</p>
</form>

<script>
	$('select').change(function() {
		window.top.location.href = '/school_sanitation/wateraid_with_district?utf8=✓&district=' + $(this).attr('value');
	});
</script>

<p id="notice"><%= notice %></p>

<div id="overall">
	<h3>Open Data</h3>
	<p>	
		<%= link_to "Water Aid Infographics", school_sanitation_wateraid_path %>
		<%= link_to "Download JSON file", school_sanitation_index_path('json') %>
		<%= link_to "Download XML file", school_sanitation_index_path('xml') %>
		<%= link_to "Download CSV file", school_sanitation_export_to_csv_path %>
	</p>
</div>

<div id="overall">
	<h3>List of API</h3>
	<p>		
		<%= link_to "Total Number of Community Schools", api_v1_school_sanitation_total_number_of_community_school_path %><br/><br/>
		
		<%= link_to "Total Number of Schools with Toilet Facilities", api_v1_school_sanitation_total_no_of_schools_with_toilet_facilities_path %><br/><br/>
		
		<%= link_to "Percentage of Schools with Toilet Facilities", api_v1_school_sanitation_percentage_of_schools_with_toilet_facilities_path %><br/><br/>

		<%= link_to "Total Number of Toilet Facilities Inclusive of each Toilet Item", api_v1_school_sanitation_total_no_of_toilet_facilities_inclusive_of_each_toilet_item_path %><br/><br/>

		<%= link_to "Total Number of Toilet Facilities for Girl Students with Item Facilites Toilet Item", api_v1_school_sanitation_total_no_of_toilets_for_girl_students_with_items_facilities_path %><br/><br/>

		<%= link_to "Percentage of Separate Toilet for Girls Students with Item Facilites", api_v1_school_sanitation_percentage_of_separate_toilets_for_girls_with_items_facilities_path %><br/><br/>

		<%= link_to "Percentage of Schools with Separate Toilets for Girls", api_v1_school_sanitation_percentage_of_schools_with_separate_toilets_for_girls_path %><br/><br/>

		<%= link_to "Total Students", api_v1_school_sanitation_total_students_boys_and_girls_path %><br/><br/>

		<%= link_to "Total Number of Districts", api_v1_school_sanitation_total_no_districts_path %><br/><br/>

		<%= link_to "List of Districts", api_v1_school_sanitation_list_of_districts_path %><br/><br/>
	</p>
</div>

