<p>
  <b>District:</b>
  <%= @district.districts %>
</p>

<p>
  <b>Total Number of Community Schools:</b>
  <%= @district.total_no_of_community_schools %>
</p>

<p>
  <b>Total Number of Schools with Toilet Facilities:</b>
  <%= @district.total_no_of_schools_with_toilet_facilities %>
</p>

<p>
  <b>Avg. Percentage of Schools with Toilet Facilities:</b>
  <%= @district.percentage_of_schools_with_toilet_facilities %>
</p>

<p>
  <b>Total Number of Toilet Facilities Inclusive of Each Toilet Item:</b>
  <%= @district.total_no_of_toilet_facilities_inclusive_of_each_toilet_item %>
</p>

<p>
  <b>Total Number of Toilets for Girl Students with Items Facilities:</b>
  <%= @district.total_no_of_toilets_for_girl_students_with_items_facilities %>
</p>

<p>
  <b>Avg. Percentage of Separate Toilets for Girls with Items Facilities:</b>
  <%= @district.percentage_of_separate_toilets_for_girls_with_items_facilities %>
</p>

<p>
  <b>Total Students Boys and Girls:</b>
  <%= @district.total_students_boys_and_girls %>
</p>

<p>
  <b>Toilet to Student Ratio:</b>
  <%= @district.toilet_to_student_ratio %>
</p>

<p>
  <b>Avg. Percentage of Schools with Separate Toilets for Girls:</b>
  <%= @district.percentage_of_schools_with_separate_toilets_for_girls %>
</p>

<p>
  <b>Districts Ranked by Girl Students Access To School Sanitation:</b>
  <%= @district.districts_ranked_by_girl_students_access_to_school_sanitation %>
</p>


